.burgerMenu {
  display: none;
  width: 60px;
  aspect-ratio: 1 / 1;
  filter: invert(100%);
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  transition: 200ms;

  &:active {
    transition: 200ms;
    transform: scale(0.8);
  }
}

@media only screen and (max-width: 1200px) {
  .burgerMenu {
    display: block;
  }
  .dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    width: 100%;
    aspect-ratio: 1 / 0.2;
    background-color: rgba(0, 0, 0, 0.75);
    margin: 0;
    border: none;
    padding: 0;

    & > * {
      margin: 10px;
    }
    & > div {
      & > div:first-child {
        display: none;
      }
      & ul {
        flex-direction: column;
        color: #fff;
        & a {
          color: #fff;
        }
      }
    }

    & button {
      font-size: 36px;
      align-self: flex-end;
      color: #fff;
      border: none;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0);
    }
  }
}

@media only screen and (min-width: 1200px) {
  .dialog {
    display: none;
  }
}
