@font-face {
  font-family: poke-font;
  src: url("../ITC\ Kabel\ Ultra\ Regular.otf");
}

.html {
  height: 100%;
  width: 100%;
  --primary-color: #ffcc01;
  --secondary-color: #fbfaf5;
  --font-color: #447acc;
  --img-filter: invert(48%) sepia(74%) saturate(1628%) hue-rotate(196deg)
    brightness(83%) contrast(91%);

  &[data-theme="light"] {
    --primary-color: #ffcc01;
    --secondary-color: #fbfaf5;
    --font-color: #447acc;
    --img-filter: invert(48%) sepia(74%) saturate(1628%) hue-rotate(196deg)
      brightness(83%) contrast(91%);
  }
  &[data-theme="dark"] {
    --primary-color: #ffcc01;
    --secondary-color: #1e3a6b;
    --font-color: #f4f4f4;
    --img-filter: invert(99%) sepia(8%) saturate(221%) hue-rotate(217deg)
      brightness(116%) contrast(91%);
  }
}

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100%;

  & * {
    font-family: poke-font;
  }
}
