@font-face {
  font-family: poke-font;
  src: url("../ITC\ Kabel\ Ultra\ Regular.otf");
}

.html {
  height: 100%;
  width: 100%;

  &[data-theme="light"] {
    --primary-color: #ffcc01;
    --secondary-color: #386abb;
    --accent-color: #f4f4f4;
  }
  &[data-theme="dark"] {
    --primary-color: #ffcc01;
    --secondary-color: #2a5298;
    --accent-color: #1c1c1c;
  }
}

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100%;

  & * {
    font-family: poke-font;
  }
}
