.burger-menu {
  width: 60px;
  height: 60px;
  filter: var(--img-filter);
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

.dialog {
  width: 100%;
  max-width: 100%;
  height: 25%;
  border: none;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
  color: var(--font-color);
  font-size: 2rem;

  &::backdrop {
    backdrop-filter: blur(2px);
  }

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    margin-inline: 10px;
  }
}
