.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;

  & > ul {
    display: flex;
    gap: 15px;
    user-select: auto;
    list-style: none;
    padding: 0;

    & li {
      cursor: pointer;
      text-decoration: underline;
      transition: 200ms;

      &:hover {
        transform: scale(1.1);
        transition: 200ms;
      }

      & a {
        text-decoration: none;
        color: inherit;
        font-size: inherit;

        &:hover {
          transition: 200ms;
        }
      }
    }
  }
}
