.card {
  width: 12.5rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  color: var(--font-color);
  cursor: pointer;
  border: 2px solid var(--font);
  border-radius: 20px;
  box-shadow: inset 0 0 20px 5px black;
  padding: 10px;

  & > section {
    pointer-events: none;
  }

  & .card-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    & h1 {
      font-size: 1.75rem;
      text-transform: capitalize;
    }
    & p {
      font-size: 1.5rem;
    }
  }

  & .card-img {
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      width: 100px;
      height: 100px;
    }
  }

  & > .card-info {
    display: flex;
    flex-direction: column;

    & p {
      margin: 0.75rem;

      &:first-of-type {
        text-transform: capitalize;
      }

      & span {
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-decoration-skip-ink: none;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .card {
    width: 7rem;
    height: 15rem;
    box-shadow: none;

    & > section:first-of-type {
      & h2 {
        font-size: 1.1rem;
      }

      & p {
        font-size: 0.9rem;
      }
    }

    & > section:nth-of-type(2) {
      & img {
        width: 6.25rem;
        height: 6.25rem;
      }
    }

    & > section:last-of-type {
      gap: 5px;

      & p {
        font-size: 0.8rem;
        margin: 0;

        & span {
          text-decoration: none;
          font-size: 0.8rem;
        }
      }
    }
  }
}
