.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--font-color);

  & button {
    width: 10rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--font-color);
    border-radius: 20px;
    background-color: transparent;
    color: inherit;
    font-size: 2rem;
    padding: 5px;
    cursor: pointer;

    &[data-options-open="true"] {
      background-color: var(--secondary-color);
      border-radius: 20px 20px 0 0;
      border-bottom: 2px solid var(--font-color);
    }

    &[data-highlighted="true"] {
      background-color: var(--background-color);
      border-color: var(--primary-color);
      color: var(--primary-color);
    }
  }

  & div {
    background-color: var(--secondary-color);
    border: 5px solid var(--font-color);
    border-top: none;
    border-radius: 0 0 20px 20px;
    width: calc(10rem - 10px);
    max-height: 160px;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    overflow: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--font-color);
    }

    & p {
      padding: 5px;
      margin: 0;
      font-size: 1.5rem;
      user-select: none;
      cursor: pointer;
      text-transform: capitalize;
    }

    & p:not(p:first-child) {
      border-top: 2px solid var(--font-color);
    }
  }
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    & button {
      width: 7.5rem;
      height: 2.5rem;
      font-size: 1.5rem;
      border-width: 3px;
    }

    & div {
      width: calc(7.5rem - 6px);
      max-height: 10rem;
      top: 2.5rem;
      border-width: 3px;

      &::-webkit-scrollbar {
        display: none;
      }

      & p {
        font-size: 0.9rem;
      }
    }
  }
}
