.greetingWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;

  & button {
    font-size: 20px;
    border: none;
    transition: 100ms;

    &:hover {
      background-color: rgba(255, 255, 255, 0);
      border: none;
      color: #fff;
      transform: scale(1.1);
      text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
      transition: 100ms;
    }
  }
}
