.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.2rem;

  & button {
    font-size: inherit;
    border: none;
    transition: 100ms;
    background-color: transparent;

    &:hover {
      transform: scale(1.1);
      text-shadow: 2px 5px rgba(0, 0, 0, 0.5);
      transition: 100ms;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    & > h2 {
      margin: 0;
    }
    & > button {
      border: 3px solid var(--font-color);
      border-radius: 20px;
    }
  }
}
